<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage')}}">Le verger des baudets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('categories_index') }}">Catégories de fruitiers</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if app.user %}
            <li class="nav-item">
                <a href="{{ path('account_logout') }}" class="nav-link">{{ app.user.firstname }}
                    {{ app.user.lastname }} Déconnexion</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ path('account_register') }}"
                    class="btn btn-sm btn-outline mr-2 semiBold navbar-btn">Inscription</a>
            </li>

            <li class="nav-item">
                <a href="{{ path('account_login') }}" class="btn btn-sm btn-outline semiBold navbar-btn">Connexion</a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>
{# /navbar #}



{% for label, messages in app.flashes %}
<div class="container">
    <div class="alert alert-{{ label }}">
        {% for message in messages %}
        <p>{{ message | raw }}</p>
        {% endfor %}
    </div>
</div>
{% endfor %}
{# /alert #}